<header class="usa-header usa-header--basic">
    <div class="usa-nav-container">
      <nav aria-label="Primary navigation" class="usa-nav hs-justify-content">
        <ul class="usa-nav__primary usa-accordion">
          <li class="usa-nav__primary-item">
            <button type="button" class="usa-accordion__button usa-nav__link usa-current" aria-expanded="false"
              aria-controls="basic-nav-section-one">
              <span>Small Business</span>
            </button>
            <ul id="basic-nav-section-one" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a routerLink="/registerandsmallbusiness" href="#"><span>Register your small business</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a routerLink="/forcastcontracting" href="#"><span>Forcast of contracting opportunities</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a routerLink="/smallbusinessresource" href="#"><span>Small business Resource</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <button type="button" class="usa-accordion__button usa-nav__link" aria-expanded="false"
              aria-controls="basic-nav-section-two">
              <span>Real Estate</span>
            </button>
            <ul id="basic-nav-section-two" class="usa-nav__submenu">
              <li class="usa-nav__submenu-item">
                <a  routerLink="/designandconstruction" href="#"><span>Design and Construction</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a  routerLink="/facility" href="#"><span>Facility Management</span></a>
              </li>
              <li class="usa-nav__submenu-item">
                <a  routerLink="/ourproperties" href="#"><span>Our Properties</span></a>
              </li>
            </ul>
          </li>
          <li class="usa-nav__primary-item">
            <a routerLink="/generalcontactinformation" href="#"><span>Contact</span></a>
          </li>
        </ul>
        
      </nav>
    </div>
  </header>
